# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class
.vscode/launch.json

visualize_events.ipynb
check4_3subs_cs3120.ipynb
check4_3subs_cs4050.ipynb
scratchwork.py

# any data figures and their directories
*.csv
*.pickle
*.pkl
data/*
figures/*

# OSX files
.DS_Store

# file with personal access tokens
set_env.sh
